@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    opacity: 0.2;
    margin: 1em 0;
    padding: 0; 
}
.nav-bar{
    flex: 1;
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 50px;
    margin: auto;
    align-items: center;
    background-color: white;
}
.nav-icon{
    flex: 1;
    display: flex;
    width: 33%;
    font-size:25px;cursor:pointer;
    padding-left: 40px;
    color: #FF6161;
}
.nav-menu-left{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex: 1;
}

.nav-menu-left a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
}

.nav-menu-left a:hover {
    color: rgb(82, 74, 74);
}

.nav-menu-left .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .nav-menu-left {
        padding-top: 15px;
    }
    .nav-menu-left a {
        font-size: 18px;
    }
}

.nav-bar .nav-logo{
    width: 33%;
    cursor: pointer;
    display: flex;
}
.nav-bar .nav-logo i{
    margin: auto;
}
.nav-bar .nav-menu-right{
    width: 33%;
}
.nav-bar .nav-menu-right ul{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar .nav-menu-right li{
    padding-right: 40px;
    list-style-type: none;
    align-items: center;
    cursor: pointer;
}
.search-box input{
    background: none;
    border: none;
    outline: none;
    font-size: 17px;
    line-height: 40px;
    width: 0px;
    transition: all 0.9s;
}
.search-box:hover input{
    width: 150px;
}
.search-box input:focus{
    width: 150px;
}


.nav-bar #nav-cart button{
    font-size: 15px;
    width: 45px;
    border: 2px solid #FF6161;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 50px;
    background-color: #FF6161;
    cursor: pointer;
}
.nav-cart button:active, button:focus{
    outline: 0;     
}

/* Main */
/* News */

main{
    width: 100%;
    height: auto;
}

.News{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid #FF6161;
}

.News .new{
    width: 100px;
    height: 30px;
    align-items: center;
    display: flex;
    background-color: rgb(209, 193, 123);
}
.new span{
    margin: auto;
}

/* Infor-product */

.infor-product{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex: 1;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
}

.infor{
    width: 33%;
    height: auto;
    margin: 5px;
}

.infor-1{
    display: flex;
    flex: 1;

    width: 100%;
    height: auto;
}

.infor-1 img{
    justify-content: center;
    width: 60%;
    margin: auto;
    
}


.infor-2 a{
    text-decoration: none;
    color: rgb(24, 169, 212);
}

.infor-2 span{
    line-height: 3;
    font-size: 15px;
    color: black;
}

.stars {
    display: inline-block;
}
   
input.star { display: none; }
   
label.star {
    float: right;
    padding: 10px 10px 10px 0px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}
   
input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
   
input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
   
input.star-1:checked ~ label.star:before { color: #F62; }
   
label.star:hover { transform: rotate(-15deg) scale(1.3); }
   
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

/* số lượng */
.buttons_added {
    margin-top: 7px;
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    height:2rem;
    width:1.9rem;
    padding:0;
    background-color: white;
    border:1px solid rgb(118, 169, 228);
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-right: none;
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-left: none;
    border-radius:0 4px 4px 0;
}
.input-qty {
    height:30px;
    text-align:center;
    display:inline-block;
    margin:0;
    border-top:1px solid rgb(118, 169, 228);
    border-bottom:1px solid rgb(118, 169, 228);
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

.infor-2 button{
    margin-top: 20px;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color:  rgb(120, 170, 228);
}

.infor-2 button:hover{
    opacity: 0.7;
}

.infor-2 .fa-shopping-cart{
    font-size: 28px;
    margin-left: 30px;
    color:  rgb(120, 170, 228);
    cursor: pointer;
}

.infor-2 .fa-shopping-cart:hover{
    opacity: 0.7;
}



/* infor-3 */

.infor-3 a
{
    text-decoration: none;
    line-height: 2;
    font-size: 20px;
    color: rgb(96, 224, 224);
}


/* Product discription */

.product-description{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.product-detail{
    display: flex;
    flex: 2;
    flex-wrap: wrap;
}
.product-description h2{
    width: 100%;
    margin: 10px 0px 20px 0px;
    color: lightcoral;
}

.name-detail{
    width: 40%;
}

.name-detail a{
    display: block;
    font-size: 23px;
}

.detail{
    width: 60%;
}

.detail a{
    font-size: 23px;
    display: block;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description{
    flex: 3;
    margin: 0px 0px 0px 10px;
}

.description span{
    font-size: 17px;
    line-height: 1.9;
}


/* related-products */

.related-products{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.related{
    display: flex;
    flex: 1;
    height: auto;
    background-color: lawngreen;
    margin: 10px;
}

.item-product{
    width: 20%;
    flex: 1;
}

.item-product-overlay{
    position: relative;
}
.item-product-overlay img{
    width: 90%;
    height: auto;
    margin: 10px;
    display: block;
}
.overlay{
    position: absolute;
    bottom: 0;
    background: #FF6161;
    color: white;
    width: 90%;
    padding: 0.7rem 0rem 0.7rem 0rem;
    margin-left: 0.63rem;
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    cursor: pointer;
    font-weight: bold;

}

.fa-star{
    color: red;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 17px;
}
.item-product-overlay:hover .overlay{
    opacity: 1;
}
.sub-product{
    margin: 10px;
    width: 93.7%;
}
.sub-product h3{
    font-weight: normal;
    font-size: 1.5rem;
}
.sub-product span{
    display: block;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.1rem;
    color:  #FF6161;
    font-weight: normal;
}
.sub-product span .p1{
    text-align: left;
    position: absolute;
}
.sub-product span .p2{
    text-align: right;
    position: relative;
    text-decoration-line: line-through ;
}

/* footer */
footer{
    width: 100%;
    height: auto;
}

.footer-icon{
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
}

.f-icon-left{
    cursor: pointer;
    width: 33.33%;
}
.f-icon-left img{
    width: 70px;
}
.f-icon-center{
    width: 33.33%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.f-icon-center i{
    cursor: pointer;
    margin: 5px;
    font-size: 30px;
    color: #FF6161;
}
.f-icon-right{
    display: flex;
    width: 33.33%;
    justify-content: flex-end;
}
.f-icon-right i{
    cursor: pointer;
    font-size: 30px;
    color: #FF6161;
    margin: 5px;
    display: flex;
}

.f-icon-right span{
    font-size: 10px;
    margin: 4px;
    align-items: center;
    display: flex;
}


/* footer-contact */

.footer-contact{
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    padding: 50px 0px 50px 0px;
}

.contact{
    cursor: pointer;
    width: 33%;
    text-align: center;
    margin: auto;
}
.contact i{
    color: #FF6161;
    font-size: 40px;
}
.contact h3{
    margin: 5px;
    font-size: 20px;
}

#hr{
    width: auto;
    border: 2px solid black;
    background-color: black;
    
}
#f-bottom{
    cursor: pointer;
    margin: 30px;
    width: auto;
    text-align: center;
}
